#colorsHolder{
	position: absolute;
	top: 25px;
	left: 1070px;
}
.colorRange{
	width: 100px;
	height: 3px;
}
span{
	position: absolute;
	left: -35px;
	font-size: 10px;
}
img{
	width: 14px;
    height: 11px;
    margin-bottom: -3px;
}
#tweetHolder {
	position: absolute;
	left: 65%;
	top: 75%;
}
.profilePic {
	width: 70px;
	height: 70px;
	margin: 0px 0 -70px 10px;
}
.name {
	font-size: 18px;
	font-weight: bold;
	margin: -9px 0 0 95px;
}
.handle {
	font-size: 16px;
	font-style: italic;
	margin: -24px 0 0 281px;
}
.text {
	font-size: 15px;
	width: 305px;
	height: 63px;
	margin: 7px 0 0 94px;
}
.location {
	font-size: 12px;
	text-align: right;
	margin: 0px 4px 0 0px;
}
.tweet {
	width: 405px;
	height: 120px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #e8ebef;
	margin: 5px 0;
}
.tweet:first-of-type {
	margin-top: 7px;
}